
<div class="col-lg-4"></div>
<div class="col-lg-12 well">

	<% if @productos.size > 0 %>
	<h1>Productos  11 ago nueva rama</h1>
	<br>
	<br>

	<div class="row una-linea">

		<% @productos.each do |producto| %>

		<% if producto.publicado %>

		<div class="mx-auto m-3 borde px-5">
			<h4><%= producto.title %></h4>
			<% if producto.image.to_s.blank? %>
				<%= truncate(producto.title, length: 10) %>
				<% else %>
				<% existe = verifica_imagen(producto.image_url) %>
				<% if existe %>

					<%= link_to '#', "data-toggle" => "modal", "data-target" => "#modalImagen#{producto.id}" do %>
					<%= image_tag(producto.image.small_thumb.url) %>
					<% end %>

						<div class="modal fade" id="modalImagen<%= producto.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header bk-color-4 txt-claro">
										<h4 class="modal-title" id="myModalLabel"> <%= "#{producto.title}" %> </h4>
									</div>
									<div class="modal-body">
										
										<%= image_tag(producto.image.url, class: "esta_imagen_es_responsive") %>
										
										<h4><%= producto.body %></h4>
										<h5><%= number_to_currency(producto.en_dolares, :unit => "USD ", :separator => ",", :delimiter => ".") %></h5>
										<h5><%= number_to_currency(producto.en_bolivares, :unit => "BsS ", :separator => ",", :delimiter => ".") %></h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Cerrar
										</button>
									</div>
								</div>
							</div>
						</div>

				<% else %>
						<%= "<i>imagen <br>no existe</i>".html_safe %>
				<% end %>
			<% end %>
			<br>
			<h5><%= number_to_currency(producto.en_dolares, :unit => "USD ", :separator => ",", :delimiter => ".") %></h5>

			<h5><%= number_to_currency(producto.en_bolivares, :unit => "BsS ", :separator => ",", :delimiter => ".") %></h5>
		</div>
		<% end %>
		<% end %>

	</div>


	<% else %>
	<h3>No hay productos para mostrar</h3>
	<% end %>
</div>
