<h2><%= link_to post.title, post_path(post) %></h2>
 
 <%#byebug%>
<p><%= truncate(post.body, length: 150) %></p>
    <%= image_tag post.image.small_thumb.url %>
 

<p><%= link_to 'Borra este producto', post, method: :delete, data: { confirm: '
	esta seguro de borrarlo?' } %></p>
<p><%= link_to 'Edita este producto', edit_post_path(post) %></p>
<hr>